# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [47]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps as maps
import os

# Import API key
from api_keys import g_key

#Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [48]:
weather_df = pd.read_csv("../output_data.csv")

weather_df

,City,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Conde,75,BR,74,-7.26,-34.91,82.40,13.87
1,New Norfolk,99,AU,64,-42.78,147.06,55.99,1.01
2,Busselton,0,AU,77,-33.65,115.33,54.00,1.01
3,Avera,90,US,66,33.19,-82.53,48.20,11.41
4,Nome,90,US,92,64.50,-165.41,19.40,18.34
...,...,...,...,...,...,...,...,...
572,Palana,95,RU,93,59.12,159.97,14.99,15.70
573,Basco,100,PH,84,20.45,121.97,74.82,28.27
574,Dafeng,100,CN,63,23.45,108.59,42.87,7.65
575,Hengyang,100,CN,93,26.89,112.61,33.51,8.37
576,Barcelos,75,PT,76,41.54,-8.62,55.40,31.09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [49]:
#gmaps
gmaps.configure(api_key=g_key)

In [50]:
locations = weather_df[["Lat","Lng"]]
humid = weather_df["Humidity"]

In [51]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights = humid, dissipating=False, max_intensity=50,point_radius= 3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [62]:
city_weather = weather_df.loc[(weather_df['Max Temp'] >=70) & (weather_df['Max Temp'] <=80) & (weather_df['Humidity']<=80)
& (weather_df['Wind Speed'] <=10) & (weather_df['Cloudiness']==0)].dropna()

city_weather

,City,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Wind Speed
37,Salalah,0,OM,56,17.02,54.09,73.40,6.93
121,Poya,0,NC,65,-21.35,165.15,79.32,4.07
157,Oussouye,0,SN,73,12.48,-16.55,77.00,2.24
315,Atar,0,MR,22,20.52,-13.05,71.22,9.26
335,Boffa,0,GN,79,10.17,-14.03,78.67,4.36
448,Cosalá,0,MX,31,24.41,-106.69,79.52,5.95
470,Tayoltita,0,MX,19,24.08,-105.93,75.49,7.36
514,Jizan,0,SA,74,17.33,42.67,78.80,5.82

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [68]:
hotel_df = city_weather
hotel_df['Hotel Name']=''
hotel_df
url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
params = {'radius': 5000,
          'keyword': 'hotel',
          'key'
          
    
}

,City,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
37,Salalah,0,OM,56,17.02,54.09,73.40,6.93,
121,Poya,0,NC,65,-21.35,165.15,79.32,4.07,
157,Oussouye,0,SN,73,12.48,-16.55,77.00,2.24,
315,Atar,0,MR,22,20.52,-13.05,71.22,9.26,
335,Boffa,0,GN,79,10.17,-14.03,78.67,4.36,
448,Cosalá,0,MX,31,24.41,-106.69,79.52,5.95,
470,Tayoltita,0,MX,19,24.08,-105.93,75.49,7.36,
514,Jizan,0,SA,74,17.33,42.67,78.80,5.82,

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure