# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [77]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps as maps
import os
import json
# Import API key
from api_keys import g_key

#Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [78]:
weather_df = pd.read_csv("../output_data.csv")

weather_df

,City,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Conde,75,BR,74,-7.26,-34.91,82.40,13.87
1,New Norfolk,99,AU,64,-42.78,147.06,55.99,1.01
2,Busselton,0,AU,77,-33.65,115.33,54.00,1.01
3,Avera,90,US,66,33.19,-82.53,48.20,11.41
4,Nome,90,US,92,64.50,-165.41,19.40,18.34
...,...,...,...,...,...,...,...,...
572,Palana,95,RU,93,59.12,159.97,14.99,15.70
573,Basco,100,PH,84,20.45,121.97,74.82,28.27
574,Dafeng,100,CN,63,23.45,108.59,42.87,7.65
575,Hengyang,100,CN,93,26.89,112.61,33.51,8.37
576,Barcelos,75,PT,76,41.54,-8.62,55.40,31.09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [79]:
#gmaps
gmaps.configure(api_key=g_key)

In [85]:
locations = weather_df[["Lat","Lng"]].astype(float)
humid = weather_df["Humidity"].astype(float)

In [88]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights = humid, dissipating=False, max_intensity=100,point_radius= 3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [100]:
city_weather = weather_df.loc[(weather_df['Max Temp'] >=70) & (weather_df['Max Temp'] <=90) & (weather_df['Humidity']<=50)
& (weather_df['Wind Speed'] <=10) & (weather_df['Cloudiness']==0)].dropna()

city_weather

,City,Cloudiness,Country,Humidity,Lat,Lng,Max Temp,Wind Speed
142,Ayorou,0,NE,16,14.73,0.92,81.68,9.78
160,Goundam,0,ML,20,16.41,-3.67,81.54,9.19
194,Buin,0,CL,20,-33.73,-70.75,84.20,6.93
315,Atar,0,MR,22,20.52,-13.05,71.22,9.26
445,Santa Maria,0,BR,43,-29.68,-53.81,87.80,5.82
448,Cosalá,0,MX,31,24.41,-106.69,79.52,5.95
468,San Rafael,0,AR,16,-34.62,-68.33,80.02,8.99
469,Esmeraldas,0,BR,27,-19.76,-44.31,89.60,6.93
470,Tayoltita,0,MX,19,24.08,-105.93,75.49,7.36
472,Santana do Livramento,0,BR,49,-30.89,-55.53,81.72,6.38

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [101]:
hotel_df = city_weather
hotel_df['Hotel Name']=''
hotel_df
url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
params = {'type': 'hotel',
          'radius': 10000,
          'keyword': 'hotel',
          'key':g_key
          
    
}

response = requests.get(url,params=params)
print(response.url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?type=hotel&radius=10000&keyword=hotel&key=AIzaSyBxD9FerYTD4gFLTPGXiYtNqK9cNIVnoT8

In [102]:
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    city_nm = row['City']
    
    params['location'] = f'{lat},{lng}'
    
    print(f'Retrieving Results for Index {index}: {city_nm}.')
    response = requests.get(url, params=params).json()
    results = response['results']
    try: 
          print(f"Closest hotel in {city_nm} is {results[0]['name']}.")
          
    except(KeyError, IndexError):
          print('Hotel missing...skip.')
    print('--------------')

Retrieving Results for Index 142: Ayorou.
Closest hotel in Ayorou is Hotel Amenokal.
--------------
Retrieving Results for Index 160: Goundam.
Hotel missing...skip.
--------------
Retrieving Results for Index 194: Buin.
Closest hotel in Buin is Hotel Casa Real.
--------------
Retrieving Results for Index 315: Atar.
Closest hotel in Atar is Bab Sahara.
--------------
Retrieving Results for Index 445: Santa Maria.
Closest hotel in Santa Maria is Altadomo Hotel.
--------------
Retrieving Results for Index 448: Cosalá.
Closest hotel in Cosalá is Hotel Colonial.
--------------
Retrieving Results for Index 468: San Rafael.
Closest hotel in San Rafael is Tower Inn Hotel & Suites Casino Spa Convention Center.
--------------
Retrieving Results for Index 469: Esmeraldas.
Closest hotel in Esmeraldas is Hotel Fazenda Lagoa Azul | Oficial.
--------------
Retrieving Results for Index 470: Tayoltita.
Closest hotel in Tayoltita is Hotel Belmor.
--------------
Retrieving Results for Index 472: Santana do Livramento.
Closest hotel in Santana do Livramento is Hotel Emirates.
--------------

In [103]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [106]:
# Add marker layer ontop of heat map
mark_lay = gmaps.marker_layer(locations, hotel_info)
fig.add_layer(mark_lay)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))